apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai
resources:
  - external-secrets.yaml
  - http-route.yaml

# TODO: let it wait longer so dont fail if secrets aren't there yet
helmCharts:
- name: mlflow
  releaseName: mlflow
  version: 1.7.3
  repo: https://community-charts.github.io/helm-charts
  valuesInline:
    extraArgs:
      host: "0.0.0.0"
      gunicornOpts: ""  # Remove gunicorn, use default uvicorn
    backendStore:
      postgres:
        enabled: true
        host: "mlflow-db-pooler.storage.svc.cluster.local"
        port: 5432
        database: "mlflow"
        driver: "psycopg2"
      existingDatabaseSecret:
        name: "mlflow-db-user"
        usernameKey: "username"
        passwordKey: "password"
    artifactRoot:
      proxiedArtifactStorage: true
      s3:
        enabled: true
        bucket: "mlflow"
        existingSecret:
          name: "minio-tenant-secret"
          keyOfAccessKeyId: "accesskey"
          keyOfSecretAccessKey: "secretkey"
    extraEnvVars:
      MLFLOW_S3_ENDPOINT_URL: "http://minio-hl.minio-tenant.svc.cluster.local:9000"
      MLFLOW_S3_IGNORE_TLS: "true"
    service:
      port: 80
      containerPort: 5000
    serviceMonitor:
      enabled: true
      namespace: ai
      labels:
        release: prometheus
    initContainers:
        - name: wait-for-secrets
          image: busybox
          command:
            - sh
            - -c
            - |
              while [ ! -f /etc/secrets/mlflow-db-user ]; do
                echo "Waiting for mlflow-db-user secret..."
                sleep 5
              done
              while [ ! -f /etc/secrets/minio-tenant-secret ]; do
                echo "Waiting for minio-tenant-secret..."
                sleep 5
              done
          volumeMounts:
            - name: secrets-volume
              mountPath: /etc/secrets


patches:
  - target:
      kind: Deployment
      name: mlflow
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - server
          - --host=0.0.0.0
          - --port=5000
          - --backend-store-uri=postgresql+psycopg2://
          - --artifacts-destination=s3://mlflow/
          - --serve-artifacts
          - --expose-prometheus=/mlflow/metrics
          - --disable-security-middleware
