apiVersion: apps/v1
kind: Deployment
metadata:
  name: argocd-server
spec:
  template:
    spec:
      containers:
      - name: argocd-server
        env:
        - name: ARGOCD_SERVER_REPO_SERVER
          value: "argocd-repo-server.argocd.svc.cluster.local:8081"
        - name: ARGOCD_SERVER_REPO_SERVER_TIMEOUT_SECONDS
          value: "120"
