apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: minio-tenant
resources:
  - external-secrets.yaml
  - http-route.yaml
  - service-monitor.yaml
helmCharts:
  - name: tenant
    releaseName: minio
    version: 7.1.1
    repo: https://operator.min.io
    valuesInline:
      tenant:
        name: minio
        env:
          - name: MINIO_PROMETHEUS_AUTH_TYPE
            value: "public"  # Allow unauthenticated access to metrics
          - name: MINIO_PROMETHEUS_JOB_ID
            value: "minio-job"
        pools:
          - name: pool-0
            servers: 1
            volumesPerServer: 2  # Use all 2 PVs we created
            size: 10Gi
            storageClassName: local-storage  # Changed from 'standard'
        buckets:
          - name: mlflow
          - name: argo-workflows
          - name: loki-chunks
          - name: loki-ruler
          - name: loki-admin
          - name: tempo-traces
          - name: dvcstore
        configSecret:
          name: minio-tenant-secret
          existingSecret: true
        console:
          enabled: true
        # Disable TLS for development
        certificate:
          requestAutoCert: false
        metrics:
          enabled: true
          port: 9000
          protocol: http
