apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mlops
resources:
  - http-route.yaml
helmCharts:
  - name: mlflow
    releaseName: mlflow
    version: 1.8.0
    repo: https://community-charts.github.io/helm-charts
    valuesInline:
      backendStore:
        postgres:
          enabled: true
          host: "mlflow-db-pooler.storage.svc.cluster.local"
          port: 5432
          database: "mlflow"
          driver: "psycopg2"
      artifactRoot:
        proxiedArtifactStorage: false
        s3:
          enabled: true
          bucket: "mlflow"
      extraEnvVars:
        MLFLOW_S3_ENDPOINT_URL: "http://minio-hl.minio-tenant.svc.cluster.local:9000"
        MLFLOW_S3_IGNORE_TLS: "true"
      extraSecretNamesForEnvFrom:
        - mlflow-db-user
        - minio-tenant-secret
      service:
        port: 80
        containerPort: 5000
      serviceMonitor:
        enabled: true
        namespace: mlops
        labels:
          release: prometheus

patches:
  - target:
      kind: Deployment
      name: mlflow
    patch: |-
      - op: replace
        path: /spec/template/spec/containers/0/args
        value:
          - server
          - --host=0.0.0.0
          - --port=5000
          - --backend-store-uri=postgresql+psycopg2://
          - --default-artifact-root=s3://mlflow/
          - --expose-prometheus=/mlflow/metrics
          - --disable-security-middleware
