apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
- https://raw.githubusercontent.com/argoproj-labs/argocd-image-updater/stable/config/install.yaml
- demo-app-backend.yaml
- wine-classifier.yaml

# Exclude the Namespace from the remote install.yaml since it's managed by security-namespaces
patches:
- target:
    kind: Namespace
    name: argocd
  patch: |-
    $patch: delete
    apiVersion: v1
    kind: Namespace
    metadata:
      name: argocd

- target:
    kind: ConfigMap
    name: argocd-image-updater-config
  patch: |-
    - op: replace
      path: /data
      value:
        registries.conf: |
          registries:
          - name: Docker Hub
            api_url: https://registry-1.docker.io
            prefix: docker.io
            credentials: pullsecret:argocd/dockerhub-secret
            defaultns: library
