apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: argocd

resources:
- https://raw.githubusercontent.com/argoproj-labs/argocd-image-updater/stable/config/install.yaml
#- external-secrets.yaml
- demo-app-backend.yaml
- wine-classifier.yaml

patches:
- target:
    kind: ConfigMap
    name: argocd-image-updater-config
  patch: |-
    - op: replace
      path: /data
      value:
        registries.conf: |
          registries:
          - name: Docker Hub
            api_url: https://registry-1.docker.io
            prefix: docker.io
            credentials: pullsecret:argocd/dockerhub-secret
            defaultns: library
