# Common shared variables for all pipelines
apiVersion: v1
kind: ConfigMap
metadata:
  name: mlops-platform-env
  namespace: mlops
data:
  MLFLOW_TRACKING_URI: "http://mlflow.mlops.svc.cluster.local:80"
  DVC_REPO_URL: "https://github.com/OpenCloudHub/data-registry"
---
# Specific to this model
apiVersion: v1
kind: ConfigMap
metadata:
  name: wine-classifier-env
  namespace: mlops
data:
  MLFLOW_EXPERIMENT_NAME: "wine-quality"
  MLFLOW_REGISTERED_MODEL_NAME: "wine-classifier"

  DVC_DATA_PATH: "data/wine-quality/processed/wine-quality.csv"
  DVC_METRICS_PATH: "data/wine-quality/metadata.json"
