apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  # Controller (no special config needed)
  - name: gha-runner-scale-set-controller
    releaseName: arc
    version: 0.13.0
    repo: oci://ghcr.io/actions/actions-runner-controller-charts
    namespace: arc-systems
    includeCRDs: true

  # Runner Scale Set
  - name: gha-runner-scale-set
    releaseName: arc-runner-set
    version: 0.13.0
    repo: oci://ghcr.io/actions/actions-runner-controller-charts
    namespace: arc-runners
    valuesInline:
      githubConfigUrl: "https://github.com/OpenCloudHub"
      githubConfigSecret: "arc-github-secret"
      minRunners: 0
      maxRunners: 2
