apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - servicemonitor.yaml

helmCharts:
  # Controller (no special config needed)
  - name: gha-runner-scale-set-controller
    releaseName: arc
    version: 0.13.0
    repo: oci://ghcr.io/actions/actions-runner-controller-charts
    namespace: arc-systems
    includeCRDs: true
    valuesInline:
      metrics:
      controllerManagerAddr: ":8080"
      listenerAddr: ":8080"
      listenerEndpoint: "/metrics"

  # Runner Scale Set
  - name: gha-runner-scale-set
    releaseName: arc-runner-set
    version: 0.13.0
    repo: oci://ghcr.io/actions/actions-runner-controller-charts
    namespace: arc-runners
    valuesFile: values-runners.yaml
