apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: minio-operator

helmCharts:
  - name: operator
    releaseName: minio-operator
    version: 7.1.1
    repo: https://operator.min.io
    valuesInline:
      resources:
        requests:
          memory: 512Mi
          cpu: 500m
        limits:
          memory: 1Gi
          cpu: 1
