apiVersion: argoproj.io/v1alpha1
kind: WorkflowTemplate
metadata:
  name: deployment-templates
  namespace: ai
spec:
  serviceAccountName: workflow-executor

  templates:
  - name: reload-ray-serve
    inputs:
      parameters:
      - name: model_name
      - name: prod_version
      - name: ray_service_name
      - name: ray_service_namespace
    resource:
      action: patch
      mergeStrategy: merge
      manifest: |
        apiVersion: ray.io/v1
        kind: RayService
        metadata:
          name: {{inputs.parameters.ray_service_name}}
          namespace: {{inputs.parameters.ray_service_namespace}}
        spec:
          serveConfigV2: |
            applications:
              - name: fashion-mnist_classifier_app
                import_path: src.serve:app_builder
                route_prefix: /models/fashion-mnist-classifier
                deployments:
                  - name: FashionMNISTClassifier
                    num_replicas: 1
                    user_config:
                      model_uri: models:/prod.{{inputs.parameters.model_name}}/{{inputs.parameters.prod_version}}
                    ray_actor_options:
                      num_cpus: 1
                      memory: 1073741824
