apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: mlops

resources:
  - pod-monitors.yaml
  #- external-secrets.yaml

helmCharts:
  - name: kuberay-operator
    releaseName: kuberay-operator
    version: 1.5.1
    repo: https://ray-project.github.io/kuberay-helm/
    namespace: mlops
    includeCRDs: true
    valuesInline:
      singleNamespaceInstall: false  # Must be false for multi-namespace watching
      watchNamespace: "mlops,models"  # Watch multiple namespaces
      metrics:
        enabled: true
      serviceMonitor:
        enabled: true
