apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: observability
resources:
  - external-secrets.yaml
  - http-route.yaml
  - grafana-k8s-dashboard.yaml

helmCharts:
  - name: grafana
    releaseName: grafana
    version: 10.1.5
    repo: https://grafana.github.io/helm-charts
    namespace: observability
    valuesInline:
      # For Ray integration settings
      grafana.ini:
          security:
            allow_embedding: true
          auth.anonymous:
            enabled: true
            org_role: Viewer
      persistence:
        type: pvc
        enabled: true
      admin:
        existingSecret: grafana-admin-secret
        userKey: username
        passwordKey: password
      service:
        enabled: true
        type: ClusterIP

      datasources:
        datasources.yaml:
          apiVersion: 1
          datasources:
            - name: Loki
              type: loki
              access: proxy
              orgId: 1
              uid: loki
              url: http://loki-gateway.observability.svc.cluster.local:80
              basicAuth: false
              isDefault: false
              version: 1
              editable: false
              jsonData:
                derivedFields:
                  - datasourceUid: tempo
                    matcherRegex: "trace_id=(\\w+)"
                    name: TraceID
                    url: "$${__value.raw}"

            - name: Prometheus
              type: prometheus
              access: proxy
              orgId: 1
              uid: prometheus
              url: http://prometheus-server.observability.svc.cluster.local
              isDefault: true
              version: 1
              editable: false
              jsonData:
                httpMethod: POST
                exemplars:
                  - datasourceUid: tempo
                    name: TraceID
                    labelName: traceID

            - name: Tempo
              type: tempo
              access: proxy
              orgId: 1
              uid: tempo
              url: http://tempo.observability.svc.cluster.local:3200
              jsonData:
                httpMethod: GET
                serviceMap:
                  datasourceUid: prometheus
                search:
                  hide: false
                nodeGraph:
                  enabled: true
                tracesToMetrics:
                  datasourceUid: prometheus
                  tags:
                    - key: service.name
                      value: service_name
                  queries:
                    - name: Request Rate
                      query: 'sum by (client, server)(rate(traces_service_graph_request_total{server="${__span.tags["service.name"]}"}[5m]))'
                    - name: Request Duration P90
                      query: 'histogram_quantile(0.9, sum(rate(traces_service_graph_request_server_seconds_bucket{server="${__span.tags["service.name"]}"}[5m])) by (le, client, server))'
                    - name: Error Rate
                      query: 'sum by (client, server)(rate(traces_service_graph_request_failed_total{server="${__span.tags["service.name"]}"}[5m]))'
                tracesToLogsV2:
                  datasourceUid: loki
                  spanStartTimeShift: -1h
                  spanEndTimeShift: 1h
                  tags:
                    - service.name
                  filterByTraceID: true
                  filterBySpanID: false
                  # customQuery: true
                  # query: '{service_name="$${__span.tags["service.name"]}"} |~ "(?i)$${__span.traceId}"'


      dashboardProviders:
        dashboardproviders.yaml:
          apiVersion: 1
          providers:
            - name: 'default'
              orgId: 1
              folder: ''
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/default
            - name: 'kubernetes'
              orgId: 1
              folder: 'Kubernetes'
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/kubernetes
            - name: 'istio'
              orgId: 1
              folder: 'Istio'
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/istio
            - name: 'opencost'
              orgId: 1
              folder: 'Cost Management'
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/opencost
            - name: 'ray'
              orgId: 1
              folder: 'Ray'
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/ray
            - name: 'minio'
              orgId: 1
              folder: 'MinIO'
              type: file
              disableDeletion: false
              editable: true
              options:
                path: /var/lib/grafana/dashboards/minio

      dashboards:
        kubernetes:
          k8s-cluster:
            gnetId: 15661
            revision: 1
            datasource: Prometheus
          argocd:
            gnetId: 14584
            revision: 1
            datasource: Prometheus
        istio:
          ztunnel:
            gnetId: 21306
            revision: 1
            datasource: Prometheus
          performance:
            gnetId: 11829
            revision: 1
            datasource: Prometheus
        opencost:
          cost-overview:
            gnetId: 22208
            revision: 1
            datasource: Prometheus
        ray:
          # Ray default dashboard
          ray-default:
            url: https://raw.githubusercontent.com/ray-project/kuberay/master/config/grafana/default_grafana_dashboard.json
            datasource: Prometheus
          # Ray serve dashboard
          ray-serve:
            url: https://raw.githubusercontent.com/ray-project/kuberay/master/config/grafana/serve_grafana_dashboard.json
            datasource: Prometheus
          # Ray data dashboard
          ray-data:
            url: https://raw.githubusercontent.com/ray-project/kuberay/master/config/grafana/data_grafana_dashboard.json
            datasource: Prometheus
          # Operator dashboard
          ray-operator:
            url: https://raw.githubusercontent.com/ray-project/kuberay/master/config/grafana/KubeRay-Operator.json
            datasource: Prometheus
        minio:
          # MinIO Server Metrics
          minio-server:
            gnetId: 13502
            revision: 1
            datasource: Prometheus
          # MinIO Bucket Metrics
          minio-bucket:
            gnetId: 19237
            revision: 1
            datasource: Prometheus
          # MinIO Replication Metrics
          minio-replication:
            gnetId: 15305
            revision: 1
            datasource: Prometheus

      securityContext:
        runAsNonRoot: true
        runAsUser: 472
        runAsGroup: 472
        fsGroup: 472
      initChownData:
        enabled: false
