apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai

resources:
  - wine-classifier-service.yaml
  - pod-monitors.yaml
  - fashion-mnist-classifier-service.yaml
  - qwen-llm-service.yaml

helmCharts:
  - name: kuberay-operator
    releaseName: kuberay-operator
    version: 1.4.2
    repo: https://ray-project.github.io/kuberay-helm/
    namespace: ai
    includeCRDs: true
    valuesInline:
      metrics:
        enabled: true
      serviceMonitor:
        enabled: true
