# Common shared variables for all pipelines
apiVersion: v1
kind: ConfigMap
metadata:
  name: models-job-env
  namespace: mlops
data:
  MLFLOW_TRACKING_URI: "http://mlflow.mlops.svc.cluster.local:80"
  DVC_REPO_URL: "https://github.com/OpenCloudHub/data-registry"
  LOG_LEVEL: "INFO"
  ENVIRONMENT: "production"
---
# Specific to this model
apiVersion: v1
kind: ConfigMap
metadata:
  name: wine-classifier-env
  namespace: mlops
data:
  MLFLOW_EXPERIMENT_NAME: "wine-quality"
  MLFLOW_REGISTERED_MODEL_NAME: "ci.wine-classifier" # Downstream tasks loog for that ci.<model_name>

  DVC_DATA_PATH: "data/wine-quality/processed/wine-quality.csv"
  DVC_METRICS_PATH: "data/wine-quality/metadata.json"
---
# Fashion-MNIST classifier model
apiVersion: v1
kind: ConfigMap
metadata:
  name: fashion-mnist-classifier-env
  namespace: mlops
data:
  MLFLOW_EXPERIMENT_NAME: "fashion-mnist"
  MLFLOW_REGISTERED_MODEL_NAME: "ci.fashion-mnist-classifier"

  # Ray options
  RAY_STORAGE_ENDPOINT: "minio.minio-tenant.svc.cluster.local:80"
  RAY_STORAGE_SCHEME: "http"
  RAY_STORAGE_PATH: "ray-results"
  RAY_NUM_WORKERS: "1"

  # DVC paths
  DVC_REPO: "https://github.com/OpenCloudHub/data-registry"
  DVC_TRAIN_DATA_PATH: "data/fashion-mnist/processed/train/train.parquet"
  DVC_VAL_DATA_PATH: "data/fashion-mnist/processed/val/val.parquet"
  DVC_METRICS_PATH: "data/fashion-mnist/metadata.json"
  DVC_REMOTE: "minikube"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: rag-evaluation-env
  namespace: mlops
data:
  MLFLOW_TRACKING_URI: "http://mlflow.mlops.svc.cluster.local:80"
  MLFLOW_TRACKING_INSECURE_TLS: "true"
  MLFLOW_EXPERIMENT_NAME: "rag-evaluation"
  PROMPT_NAME: "readme-rag-prompt"
  # Database
  DB_HOST: "demo-app-db-cluster-rw.storage.svc.cluster.local"
  DB_TABLE_NAME: "readme_embeddings"
  DB_TOP_K: "5"
  # LLM
  LLM_BASE_URL: "http://qwen-llm-service-serve-svc.models.svc.cluster.local:8000/v1"
  LLM_MODEL: "qwen2.5-0.5b-instruct"
  API_KEY: "dummy"
  # Embeddings
  EMBEDDING_MODEL: "sentence-transformers/all-MiniLM-L6-v2"
  # DVC
  DVC_REPO: "https://github.com/OpenCloudHub/data-registry"
  EVAL_DATA_PATH: "data/opencloudhub-readmes-rag-evaluation/questions.csv"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: qwen-vl-radiology-vqa-env
  namespace: mlops
data:
  MLFLOW_EXPERIMENT_NAME: "qwen-vl-radiology-vqa"
  MLFLOW_REGISTERED_MODEL_NAME: "ci.qwen-vl-radiology-vqa"
  MLFLOW_S3_ENDPOINT_URL: "http://minio.minio-tenant.svc.cluster.local:80"
  # DVC paths
  DVC_PROCESSED_PATH: "data/roco-radiology/processed"
  DVC_METADATA_PATH: "data/roco-radiology/metadata.json"
  # Ray storage - MUST be full S3 URI
  RAY_STORAGE_PATH: "s3://ray-results/"
  RAY_NUM_WORKERS: "1"
  RAY_GPU_FRACTION: "1.0"
  # PyArrow needs this for S3/MinIO
  AWS_ENDPOINT_URL: "http://minio.minio-tenant.svc.cluster.local:80"
